*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

/* navbar section */
.navbar{
    /* border:1px solid red; */
    width: 100%;
    height: 10vh;
    display: flex;
    position: fixed;
}
.nav-brand{
    height: 10vh;
    width: 65%;
}
.nav-brand-name{
    height: 10vh;
    margin-left: 100px;
    display: flex;
    align-items: center;
}
.nav-brand-name a{
    text-decoration: none;
    color: black;
}
.nav-brand-name p{
    font-size: 1.7rem;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px solid red; */
    font-weight: 700;
    cursor: pointer;

}

.nav-Menu{
    height: 10vh;
    width: 35%;

}
.nav-Menu ul{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-Menu ul li{
    list-style: none;
    position: relative;
}
.nav-Menu ul li span{
    
    /* border: 1px solid blue; */
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 31px;
    width: 100%;
}
.nav-Menu ul li span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 26px;
    background-color:rgb(137, 43, 226) ;
    bottom: 0;
    left: 5px;
    
}
.nav-Menu ul li span:hover::before{
    width: 84%;
    transition: width 0.4s ease-in-out;
}
.nav-Menu ul li::before{
    content: "";
    position: absolute;
    width: 0;
    height: 26px;
    background-color:rgba(137, 43, 226,0.7) ;
    bottom: 4px;
    right: 5px;
}
.nav-Menu ul li:hover::before{
    width: 84%;
    transition: width 0.4s ease-in-out;
}
.nav-Menu ul li span::after{
    content: "";
    position: absolute;
    inset: 4px;
    background-color:#fff;

}
.nav-Menu ul li a{
    text-decoration: none;
    color: black;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    z-index: 2;
}

.burger-box{
    /* border:5px solid red; */
    height: 50px ;
    width: 50px;
    transition: all .5 ease-in-out;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 20px;
    top:10px
}
.burger-lines{
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.burger-lines::before,
.burger-lines::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 4px;
    transition: all .5s ease-in-out;
    /* border:2px solid red; */
}
.burger-lines::before{
    transform: translateY(-10px)
}
.burger-lines::after{
    transform: translateY(10px);
}
.burger-box.open .burger-lines{
    transform: translateX(-30px);
    background: transparent;
}
.burger-box.open .burger-lines::before{
    transform: rotate(45deg) translate(15px,-15px);
}
.burger-box.open .burger-lines::after{
    transform: rotate(-45deg) translate(15px,15px);
}

/* home section */
#home{
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introBox{
    border: 1px solid green;
    height: 70vh;
    width: 50vw;
    
}
@media screen and (max-width:768px) {
    .nav-brand-name{
        margin-left:60px;
    }
    .nav-Menu{
        width:300px;
        height: 100vh;
        background-color: #fff;
        border-left: 1px solid rgba(128, 128, 128, 0.5);
        transform: translateX(300px);
        transition: all 0.5s ease-in-out;
    }
    .nav-Menu.active{
        transform: translateX(0px);
        transition: all 0.5s ease-in-out;
    }
    .nav-Menu ul{
        /* border: 1px solid red; */
        
        display: block;
        height: 100vh;
        width: 100%;
        margin-top: 15vh;
    }
    .nav-Menu ul li{
        /* border-bottom:1px solid black; */
        text-align: center;
        display: flex;
        align-items: center;
        height: 70px;
        margin-top: 30px;
    }
    .nav-Menu ul li span::before{
        display: none;
    }
    .nav-Menu ul li span::after{
        display: none;
    }
    .nav-Menu ul li::before{
        display: none;
    }
    .nav-Menu ul li a{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:480px) and (min-width:320px){
.nav-brand{
    /* border: 1px solid red; */
    width: 50%;
}
.nav-brand-name{
    margin-left:25px;
}
.nav-Menu{
    width:250px;
    transform: translateX(250px);
}

}